@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  list-style: none;
}

body {
  min-width: 370px;
  background-color: var(--main-background-color);
}

:root {
  --main-background-color: #4618ac;
  --secondary-background-color: #351183;
  --main-text-color: #fff;
}

header {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: var(--main-background-color);
}
.main_header {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo img {
  height: 80px;
}

.search_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.language_curency {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login_register {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sell_button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mobile_header {
  display: none;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .search_bar {
    display: none;
  }
  .language_curency {
    display: none;
  }
  .login_register {
    display: none;
  }
  .sell_button {
    display: none;
  }
  .mobile_header {
    display: flex;
  }
}

.new_ads {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.gaming_categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
