@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-width: 370px;
  background-color: var(--main-background-color);
}

:root {
  --main-background-color: #4618ac;
  --secondary-background-color: #351183;
  --main-text-color: #fff;
}

header {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: var(--main-background-color);
}
.main_header {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.logo {
  display: flex;
  gap: 3rem;
}

.logo img {
  height: 50px;
}

.search_bar {
  display: flex;
  line-height: 28px;
  max-width: 800px;
  align-items: center;
  position: relative;
  color: white;
}

input .input {
  width: 400px;
}

.search_bar input {
  height: 40px;
  width: 400px;
  padding-right: 100px;
  line-height: 28px;
  padding: 0 1rem;
  color: #0d0c22;
  background-color: var(--main-background-color);
  outline: none;
  border: 2px solid white;
  padding-left: 2.5rem;
  transition: 0.3s ease;
}

/* .search_bar input::placeholder {
  
} */
.search_bar img {
  position: absolute;
  fill: #777;
  width: 35px;
  height: 35px;
}

.language_curency {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.language_curency a {
  color: white;
}

.login_register {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login_register img {
  height: 35px;
}

.login_register a {
  color: white;
}

.sell_button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sell_button a {
  color: white;
}

.mobile_header {
  display: none;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .search_bar {
    display: none;
  }
  .language_curency {
    display: none;
  }
  .login_register {
    display: none;
  }
  .sell_button {
    display: none;
  }
  .mobile_header {
    display: flex;
  }
}

.new_ads {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.new_ads h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.gaming_categories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.gaming_categories .button:first-child {
  background-color: var(--secondary-background-color);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: unset;
  background-color: unset;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 1.5rem 0;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}

.button:hover {
  color: #fad318;
}

button svg {
  margin-right: 10px;
}

.button svg path {
  fill: #b3aac9;
}

.equipment_models {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background-color: var(--secondary-background-color);
}

.equipment_models li {
  position: relative;
  padding: 10px;
  height: 72px;
}

.equipment_models li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.equipment_models li svg {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: top 0.15s ease-in-out;
}

.equipment_models li:hover svg {
  top: calc(50% - 9px);
}

.equipment_models li:hover svg path {
  fill: #fad318;
}

.equipment_models li span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.15s ease-in-out, opacity 0.15s ease-in-out;
  color: #dcd8e6;
  font-size: 13px;
  opacity: 0;
}

.equipment_models li:hover span {
  top: calc(50% + 17px);
  opacity: 1;
}
