@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  list-style: none;
}

body {
  min-width: 370px;
  background-color: var(--main-background-color);
}

:root {
  --main-background-color: #4618ac;
  --secondary-background-color: #351183;
  --main-text-color: #fff;
}

header {
  display: flex;
  width: 100px;
  background-color: var(--main-background-color);
}

.mobile_header {
  display: none;
}

@media screen and (max-width: 600px) {
  .search_bar {
    display: none;
  }
  .language_curency {
    display: none;
  }
  .login_register {
    display: none;
  }
  .sell_button {
    display: none;
  }
  .mobile_header {
    display: flex;
  }
}

.new_ads {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.gaming_categories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.equipment_models {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
